<!-- BEGIN offices -->
<section class="offices">
  <div class="container">
    <!-- BEGIN offices__map -->
    <div class="offices__map">
      <img srcset="img/map.png, img/map@2x.png 2x"
           src="img/map.png" alt="Карта наших представительств">
    </div>
    <!-- END offices__map -->

    <div class="offices__content">
      <h2 class="section-title offices__title">Наши представительства</h2>
      <!-- BEGIN offices__list -->
      <ul class="offices-list">
        <li class="offices-list__item">
          <div class="offices-list__icon">
            {{ mixins.icon('check') }}
          </div>
          <span class="offices-list__text">Мы - эксперты в области гидромассажных спа-бассейнов <span>с 25-летним опытом</span></span>
        </li>
        <li class="offices-list__item">
          <div class="offices-list__icon">
            {{ mixins.icon('check') }}
          </div>
          <span class="offices-list__text">Выставочные залы с 10 спа-бассейнами</span>
        </li>
        <li class="offices-list__item">
          <div class="offices-list__icon">
            {{ mixins.icon('check') }}
          </div>
          <span class="offices-list__text">На складе более 100 самых популярных моделей</span>
        </li>
        <li class="offices-list__item">
          <div class="offices-list__icon">
            {{ mixins.icon('check') }}
          </div>
          <span class="offices-list__text">Сервисные услуги и поддержка гарантийных обязательств</span>
        </li>
        <li class="offices-list__item">
          <div class="offices-list__icon">
            {{ mixins.icon('check') }}
          </div>
          <span class="offices-list__text">Быстрая доставка в регионы России</span>
        </li>
      </ul>
      <!-- END offices-list -->
    </div>
  </div>
</section>
<!-- END offices -->
