<!-- BEGIN promo -->
<section class="promo">
  <!-- BEGIN promo-left -->
  <div class="promo__left">
    <div class="container">
      <div class="promo__background" style="background-image: url('img/bg-left.jpg')"></div>
      <div class="promo__content">
        <div class="promo__top">
          <a href="#" class="promo__logo">
            <img srcset="img/arctic-logo.png, img/arctic-logo@2x.png 2x"
                 src="img/arctic-logo.png"
                 alt="Arctic Spas">
          </a>
          <div class="promo__company-desc">
            <ul class="promo__countries-list">
              <li> {% include '../data/canada.svg' %} </li>
            </ul>
            <p class="promo__company-desc-text">
              Лидер мирового рынка <br>
              всесезонных СПА из Канады
            </p>
          </div>
        </div>
        <h2 class="promo__company-full-desc">
          Arctic Spas — крупнейший производитель премиальных
          спа-бассейнов, идеальных для российского климата
        </h2>
        <ul class="promo__company-features">
          <!-- BEGIN promo__company-feature -->
          <li class="promo__company-feature">
            <div class="promo__company-feature-icon">
              {{ mixins.icon('temperature') }}
            </div>
            <div class="promo__company-feature-content">
              <h4 class="promo__company-feature-title">Изоляция FreeHeat®</h4>
              <p class="promo__company-feature-desc">Не допускает потери тепла и снижает затраты на электроэнергию</p>
            </div>
          </li>
          <!-- END promo__company-feature -->
          <!-- BEGIN promo__company-feature -->
          <li class="promo__company-feature promo__company-feature-2">
            <div class="promo__company-feature-icon">
              {{ mixins.icon('o2') }}
            </div>
            <div class="promo__company-feature-content">
              <h4 class="promo__company-feature-title">Система OnzenTM</h4>
              <p class="promo__company-feature-desc">Вырабатывает дезинфицирующее средство из солей Мертвого моря</p>
            </div>
          </li>
          <!-- END promo__company-feature -->
          <!-- BEGIN promo__company-feature -->
          <li class="promo__company-feature">
            <div class="promo__company-feature-icon">
              {{ mixins.icon('drops') }}
            </div>
            <div class="promo__company-feature-content">
              <h4 class="promo__company-feature-title">Мощный гидромассаж</h4>
              <p class="promo__company-feature-desc">5 гидромассажных насосов в комплектации Epic</p>
            </div>
          </li>
          <!-- END promo__company-feature -->
          <!-- BEGIN promo__company-feature -->
          <li class="promo__company-feature">
            <div class="promo__company-feature-icon">
              {{ mixins.icon('shield') }}
            </div>
            <div class="promo__company-feature-content">
              <h4 class="promo__company-feature-title">Надежные гарантии</h4>
              <p class="promo__company-feature-desc">На целостность чаши 40 лет, на оборудование - 5 лет</p>
            </div>
          </li>
          <!-- END promo__company-feature -->
        </ul>
        <div class="promo__bottom">
          <a href="#" class="button">
            <div class="button__wrapper">
              <span class="button__text">Подробнее</span>
            </div>
          </a>
        </div>
      </div>
    </div>


  </div>
  <!-- END promo-left -->
  <!-- BEGIN promo-right -->
  <div class="promo__right">
    <div class="container">
      <div class="promo__background" style="background-image: url('img/bg-right.jpg')"></div>
      <div class="promo__content">
        <div class="promo__top">
          <a href="#" class="promo__logo">
            <img srcset="img/nordbass-logo.png, img/nordbass-logo@2x.png 2x"
                 src="img/nordbass-logo.png"
                 alt="Nordbass - Гидромассажные бассейны">
          </a>
          <div class="promo__company-desc">
            <ul class="promo__countries-list">
              <li> {% include '../data/canada.svg' %} </li>
              <li> {% include '../data/germany.svg' %} </li>
              <li> {% include '../data/us.svg' %} </li>
              <li> {% include '../data/holland.svg' %} </li>
            </ul>
            <p class="promo__company-desc-text">
              Современные гидромассажные <br>
              бассейны со всего мира
            </p>
          </div>
        </div>
        <h2 class="promo__company-full-desc">
          Передовые технологии по привлекательной цене
        </h2>
        <ul class="promo__company-features">
          <!-- BEGIN promo__company-feature -->
          <li class="promo__company-feature">
            <div class="promo__company-feature-icon">
              {{ mixins.icon('check') }}
            </div>
            <div class="promo__company-feature-content">
              <h4 class="promo__company-feature-title">Личный СПА-бассейн - проще, чем вы думаете!</h4>
            </div>
          </li>
          <!-- END promo__company-feature -->
          <!-- BEGIN promo__company-feature -->
          <li class="promo__company-feature">
            <div class="promo__company-feature-icon">
              {{ mixins.icon('check') }}
            </div>
            <div class="promo__company-feature-content">
              <h4 class="promo__company-feature-title">Гидромассажные басейны от крупнейших производителей:</h4>
              <p class="promo__company-feature-desc">Viking Spa (США), Dream Spa (США), Arctic Spa (Канада), Delfi Spa
                (Германия) <span>Allseas Spa (Голландия)</span></p>
            </div>
          </li>
          <!-- END promo__company-feature -->
          <!-- BEGIN promo__company-feature -->
          <li class="promo__company-feature">
            <div class="promo__company-feature-icon">
              {{ mixins.icon('check') }}
            </div>
            <div class="promo__company-feature-content">
              <h4 class="promo__company-feature-title">Плавательные Swim Spa</h4>
            </div>
          </li>
          <!-- END promo__company-feature -->
          <!-- BEGIN promo__company-feature -->
          <li class="promo__company-feature">
            <div class="promo__company-feature-icon">
              {{ mixins.icon('check') }}
            </div>
            <div class="promo__company-feature-content">
              <h4 class="promo__company-feature-title">Мобильные спа-бассейны</h4>
            </div>
          </li>
          <!-- END promo__company-feature -->
        </ul>
        <div class="promo__bottom">
          <a href="#" class="button-plus promo__button-plus">
            <div class="button-plus__wrapper">
              <div class="button-plus__circle">
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M14 0C13.4477 0 13 0.447715 13 1V13H1C0.447715 13 0 13.4477 0 14C0 14.5523 0.447715 15 1 15H13V27C13 27.5523 13.4477 28 14 28C14.5523 28 15 27.5523 15 27V15H27C27.5523 15 28 14.5523 28 14C28 13.4477 27.5523 13 27 13H15V1C15 0.447715 14.5523 0 14 0Z"
                        fill="white"/>
                </svg>
              </div>
              <span class="button-plus__text">Подробнее</span>
            </div>
          </a>
          <div class="promo__hidden-button-wrapper">
            <a href="#" class="button">
              <div class="button__wrapper">
                <span class="button__text">Подробнее</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END promo-right -->
</section>
<!-- END promo -->
