.mobile-nav-trigger {
    display: block;
    cursor: pointer;
    transition: all 0.4s;
    margin-top: -1px;
    z-index: 100;

    .burger {
        @include burger(30px, 2px, 6px, white);
    }

    &.active {
        .burger {
            @include burger-to-cross();
        }
    }

    @include media-breakpoint-up('md') {
        display: none;
    }
}

