.icon-check {
  width: 1.17em;
  height: 1em;
  fill: initial;
}
.icon-drops {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.icon-o2 {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-shield {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-temperature {
  width: 0.52em;
  height: 1em;
  fill: initial;
}
